.library {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../../ring-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ringbearer";
}

.library-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}



