.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-image: url("../../ring-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../../ring-background.jpeg");
    background-position: center;
    background-size: cover;
    font-family: "Ringbearer";
    text-align: center;
}